@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.intro{
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
}
.c1{
    font-size: calc(30px + 3vw);
    color: rgb(255, 255, 255);
}
.c2{
    font-size: calc(20px + 2vw);
    color: cyan;
}
body{
    top: 0;
    background-image: linear-gradient(to right top, rgb(108, 255, 191), rgb(106, 106, 255), rgb(255, 121, 255));
}

.container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}
.container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}
.choice_package{
    margin: 100px;

}
.box1{
    background-color: black;
    padding: 100px;
}
.box:hover{
    border-radius: 40px;
    transition: 0.3s;
    border: 4px solid rgb(74, 255, 165);
    color: rgb(74, 255, 165);
    transform: scale(1.2);

}
.box2{
    background-color: black;
    padding: 110px;
}
.box3{
    background-color: black;
    padding: 100px;
}
.box4{
    background-color: black;
    padding: 120px;
}
.box{
    color: cyan;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 400 !important;
    transition: 0.5s;
    border: 4px solid cyan;


}
.c2{
    font-family: 'Abel', sans-serif !important;
}
@media (max-width: 313px) {
    .box{
        width: 100vw;
        font-size: calc(10px + 1vw);
    }
}